name: Auto Merge Trusted PRs

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled]

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'auto-merge')
    steps:
      - uses: actions/checkout@v4
      - name: Auto Merge
        uses: ahmadnassri/action-pr-merge@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          allowed: mazezen
          method: squash
